.*
!.gitignore
Build*
!Build.PL
META.yml
blib
build
_build
inc
pm_to_blib
MANIFEST*
Debian*
README
Algorithm-C3-*
*.bs
/Makefile
/Makefile.old
/MYMETA.*
/Distar

/MANIFEST
/MANIFEST.bak
/MANIFEST.SKIP
/MYMETA.*
/Makefile
/Makefile.old
/README
/blib/
/pm_to_blib
/Distar
*~
*#
.#*
/Algorithm-C3-*/
/Algorithm-C3-*.tar
/Algorithm-C3-*.tar.gz
/cover_db/
/_eumm/
/xt/.dependents.json
